
.header {
    padding-top: 2em;
    width: 100%;
    text-align: center;
    position: relative;
}

.header h1 {
    margin: 5.5em 0 8.5em;
}

.header h2 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 1.95em;
    margin: 2.5em 0 8.5em;
}

.header h5 {
    font-size: .8em;
    line-height: 2em;
}

.header a {
    color: #010101;
}

.mainmenu a:hover {
    color: #585858;
}

.mainmenu .menu-item {
    display: inline-block;
    font-size: .65em;
    margin: 0 17px;
    line-height: .8em;
}

.mainmenu .active a {
    color: #585858;
}

.header .logo {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 1.15em;
    display: inline-block;
    margin-bottom: .7em;
}


@media (max-device-width: 480px) {
    .header .logo {
        margin-bottom: .8em !important;
    }
    .mainmenu .menu-item {
        margin: 0 1em;
    }
}
