.slide-bottom-delay {
	-webkit-animation: slide-bottom 0.5s ease-in-out 1s both;
  animation: slide-bottom 0.5s ease-in-out 1s both;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s ease-in-out .7s both;
  animation: slide-bottom 0.5s ease-in-out .7s both;
}

@keyframes slide-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
