html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #FFFFFF;
    font-family: "SF UI Display", sans-serif;
    font-weight: 300;
    color: #010101;
    text-align: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

h1 {
    line-height: 2em;
    font-size: .95em;
}

.header h2 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 1.95em;
    margin: 2.5em 0 .8em;
}

h4 {
    font-size: .8em;
    line-height: 1.2em;
}

.new-line-text:before {
    content: "\a ";
    white-space: pre;
}

.header h1 {
    margin: 5.5em 0 3.5em;
}

.content {
    margin-top: 140px;
    line-height: 2.55em;
}

strong {
    font-family: "SF UI Display", sans-serif;
    font-weight: normal;
}

.wrapper {
	margin: 0 auto;
	min-height: 100%;
    height: 100%;
    flex: 1 0 auto;
    padding-bottom: 10%;
}

.content .project-item {
    margin: 0 auto;
    background-color: var(--background-color);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    padding: 0 0 2.5em 0;
    width: 37.083em;
    margin-bottom: 1em;
    box-shadow: 0 5px 20px rgba(170, 170, 170, 0.288);
}

.project-item h4 {
    color: var(--header-color);
    font-size: 1.583em;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-align: left;
    margin-top: 1.757em;
    margin-left: 2.297em;
}

.project-item .project-sidebar {
    width: 7.333em;
    font-family: "Oswald", sans-serif;
    font-size: 0.625em;
    color: var(--description-text-color);
    position: absolute;
    display: inline-block;
    vertical-align: center;
    top: 6.133em;
    right: 4.667em;
}

.project-sidebar > img {
    display: block;
    margin: 0 auto;
}

.project-item > img {
    margin-top: 5em;
    margin-top: var(--margin-top-main-photo);
    margin-right: 10em;
    max-height: var(--height-main-photo);
}

.project-description {
    display: block;
    font-weight: 300;
    font-weight: var(--description-text-weight);
    border-top: 2px solid var(--border-top-description);
    border-bottom: 2px solid var(--border-bottom-description);
    margin: 3em 0;
    line-height: 1.2em;
    padding: 1.6em 0;
    text-align: left;
}

.project-sidebar .project-info-button {
    display: block;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-weight: var(--button-text-weight);
    text-align: left;
    padding: 2em 0 2em 1.667em;
    border-radius: 8px;
    line-height: 1.067em;
    background-color: var(--button-color);
    color: var(--button-text-color);
}

.project-sidebar .project-info-button:hover {
    box-shadow: 0 0px 24px rgba(54, 54, 54, 0.4) inset;
}

.block-hidden {
    visibility: hidden;
    display: none;
}

.project-item > a {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    color: #0070C9;
    margin-right: 1em;
}

.project-item > a:hover {
    text-decoration: underline;
    color: #1b5892;
}

.project-item > a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -1.4em;
    height: 1em;
    width: 1em;
    margin-top: 1.3em;
    background-image: url("../../images/icons/arrowlink.svg");
    background-size: .4em;
    background-repeat: no-repeat;
}

.project-item h4 span {
    color: var(--primary-header-color);
}


@media (max-device-width: 767px) {
    h5 {
        margin: 0 1em;
    }

    body {
        font-size: 44px;
    }

    .content {
        background-color: #f2f2f2;
    }

    .content .project-item {
        border-radius: 0px;
        width: 100%;
        padding: 1em 0;
        box-shadow: none;
    }

    .project-item > img {
        display: block;
        max-width: 100%;
        height: 40%;
        margin: 2em auto;
    }

    span.block-hidden {
        line-height: 1em;
        font-weight: 300;
        margin-bottom: .5em;
    }

    .block-hidden {
        color: var(--description-text-color);
        font-size: 0.8em;
        display: block;
        visibility: visible;
    }

    .project-item h4 {
        display: inline-block;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.3em;
    }

    .project-item .project-sidebar {
        visibility: hidden;
    }
}


@media (max-device-width: 480px) {
    body {
        font-size: 60px;
    }
    .project-item > img {
        display: block;
        max-width: 90%;
        height: auto;
        margin: 2em auto;
    }
}
