html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #FFFFFF;
    font-family: "SF UI Display", sans-serif;
    font-weight: 300;
    color: #010101;
    text-align: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

h1 {
    line-height: 2em;
    font-size: .95em;
}

.header h2 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 1.95em;
    margin: 2.5em 0 .8em;
}

h4 {
    font-size: .8em;
    line-height: 1.2em;
}

.new-line-text:before {
    content: "\a ";
    white-space: pre;
}

.header h1 {
    margin: 5.5em 0 3.5em;
}

.content {
    padding-top: 140px;
    background-size: 1.8em;
    line-height: 2.55em;
    font-size: .83em;
}

strong {
    font-family: "SF UI Display", sans-serif;
    font-weight: normal;
}

.wrapper {
    width: 100%;
	margin: 0 auto;
	min-height: 100%;
    height: 100%;
    flex: 1 0 auto;
    padding-bottom: 10%;
}

.project-picker {
    padding: 1.2em 0;
}

.project-picker > article {
    margin: 0 2%;
    width: 20em;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    display: inline-block;
    padding: 2em 0;
}

.project-picker > article:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.20);
}

.project-picker a {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    color: #0070C9;
    margin-right: .9em;
    margin-bottom: 3em;
}

.project-picker a:hover {
    text-decoration: underline;
    color: #3296e7;
}

.project-picker a:after {
    content: '';
    position: absolute;
    height: 1em;
    width: 1em;
    margin-top: 1em;
    margin-left: .4em;
    background-image: url("../../images/icons/arrowlink.svg");
    background-size: .4em;
    background-repeat: no-repeat;
}

.project-picker h3 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 1.95em;
    margin-bottom: .4em;
}

.project-picker img {
    max-width: 20em;
    width: 70%;
    margin: 0 auto;
    display: block;
}


@media (max-device-width: 767px) {
    body {
        font-size: 44px;
    }
    h5 {
        margin: 0 1em;
    }
    .project-picker > article {
        width: 22em;
        margin-bottom: 3em;
    }
}


@media (max-device-width: 480px) {
    .project-picker > article {
        width: 90%;
    }
    body {
        font-size: 60px;
    }
}
