body {
	background-image: url(/images/bg_body.jpg);
}

a {
	text-decoration: none;
}

p {
	text-align: justify;
}

header {
	padding-top: 40px;
}

.lang-list {
	position: absolute;
	top: 40px;
	left: 120px;
}

.lang-item {
	float: left;
	font-size: 13px;
}

.lang-list li + li::before {
	content: '  |  ';
	white-space: pre;
	color: #fff;
}

.auth span + span::before {
	content: '  |  ';
	white-space: pre;
	color: #fff;
}

.auth-link a {
	color: #fff;
	text-decoration: underline;
	text-transform: lowercase;
}

.lang-item:first-child {
	color: #f9da5a;
}

.lang-item a {
	color: #fff;
}

.signin a {
	color: #f9da5a;
}

.mainmenu .menu-item {
	float: left;
	height: 40px;
	background-color: #fff;
	padding: 0 41px;
	cursor: pointer;
}

.mainmenu {
	overflow-y: auto;
	height: 80px;
}

.mainmenu .menu-item:hover {
	background: rgba(241, 231, 103, 1);
	background: -moz-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	background: -o-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	background: -ms-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	background: linear-gradient(to bottom, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f1e767', endColorstr='#feb645', GradientType=0);
}

.mainmenu .menu-item:first-child {
	border-radius: 5px 0 0 5px;
}

.mainmenu .menu-item:nth-child(2) {
	background: rgba(241, 231, 103, 1);
	background: -moz-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	background: -o-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	background: -ms-linear-gradient(top, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	background: linear-gradient(to bottom, rgba(241, 231, 103, 1) 0%, rgba(254, 182, 69, 1) 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f1e767', endColorstr='#feb645', GradientType=0);
}

.mainmenu .menu-item:last-child {
	border-radius: 0 5px 5px 0;
}

.mainmenu {
	margin-bottom: 40px;
	margin-top: 90px;
	line-height: 40px;
	font-size: 14px;
}

.mainmenu a {
	color: #5b2f10;
}

.auth {
	position: absolute;
	top: 40px;
	right: 120px;
}

.logo {
	width: 200px;
}

.logo img {
	margin-left: 130px;
	margin-top: 35px;
	margin-right: 60px;
	float: left;
}

.promo {
	width: 850px;
	margin: auto;
	padding: 30px 40px 60px 160px;
	background: url(/images/bg_about.png) 70px 40px  no-repeat, url(/images/bg_promo.png);
	border-radius: 10px;
}

.promo {
	font-style: italic;
	color: #f9da5a;
	line-height: 20px;
	min-height: 80px;
}

.promo h1 {
	font-size: 22px;
	color: #ead4aa;
	margin-bottom: 20px;
	font-style: normal;
}


.article {
	width: 1000px;
	margin: auto;
	margin-left: 150px;
	padding: 60px 0 30px 40px;
}

.article img {
	float: left;
	margin-right: 25px;
	margin-bottom: auto;
	position: absolute;
}

.article h2 {
	margin-left: 120px;
	margin-bottom: 20px;
	font-size: 20px;
}

.article p, h2 {
	width: 800px;
}

.article p {
	color: #d3d3d3;
	margin-left: 120px;
}

h2 {
	font-style: 18px;
	color: #f9da5a;
}

.article:last-child {
	border-bottom: 1px solid #f9da5a;
}

.footer {
	width: 1000px;
	margin: auto;
	font-size: 14px;
	padding-top: 60px;
}

.copyright {
	color: #f9da5a;
	width: 50%;
	float: left;
	position: absolute;
}

.footermenu li {
	float: right;
}

.footermenu li + li::after {
	content: '  |  ';
	white-space: pre;
	color: #fff;
}

.footermenu a {
	color: #fff;
}

body {
	padding-bottom: 30px;
}
