body {
  font-family: Arial, serif;
}


h1, h2, h3 {
  color: orange;
}


.main-img {
  width: 100%;
  height: auto;
}

table, th, td {
  border: 1px solid black;
}

table {
  text-align: center;
}

section {
  min-height: 70vh;
  padding-top: 15px;
}

video, iframe {
  width: 100%;
  height: auto;
}
